body{
    background-color: rgb(151, 204, 167);
    margin: 50px;
}
h1{
    color: aqua;
    border: 2px dotted rgb(5, 5, 214);
    padding: 10px 15px;
    border-radius: 10px;
}
.line{
    text-shadow: 2px 2px 4px red,-2px -2px 4px rgb(38, 207, 240);
    
}
#div1{
    background-color: rgb(176, 221, 220);
    width: 300px;
    height:100px;
    box-shadow:3px 3px 5px rgb(93, 0, 255),-3px -3px 5px rgb(225, 236, 6);
    padding: 20px 20px;
    margin-top: 50px;
    margin: auto;
}
#p3{
    color: rgb(255, 0, 0);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#span1{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 2px 5px rgb(103, 5, 5),-2px -2px 5px rgb(5, 103, 12);
    
}