*{
    box-sizing: border-box;
}

#image1{
    float: left;
    margin-right: 20px;
    border: 10px solid black;
}
#image2{
    float: right;
    margin-left: 20px;
}
#p1{
    text-align: justify;
    border: 2px solid black;
    height: 70px;
    width: 300px;

    overflow: auto;
}
#p2{
    text-align: justify;
}
#span-id{
    background-color: red;
    display: block;
}
#last-div{
    background-color: lightgreen;
    height: 100px;
    width: 300px;
    display: inline;
}
.box{
    border:2px solid black;
    text-align: center;
    height: auto;
    width: 50%;
    
}
#box1{
    background-color: lightblue ;
    width: 200px;
    height: 100px;
    position:relative;
    left: 50%;
    top:-450px;

}