body{
    background-color: rgb(107, 26, 26);
}
.box{
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 2em;
    border: 4px solid blueviolet;
    padding: 100px 100px;
    background-color: rgb(38, 230, 198);
}
#but{
    border: none;
    padding: 10px 13px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    background-color: black;
    color: white;
    box-shadow: 5px 4px 2px rgb(54, 53, 53);
}
#but:hover{
    background-color: rgb(70, 66, 66);
    box-shadow: 5px 4px 2px black;
}
.number{
    border: 2px solid ;
    padding: 5px 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 4px 2px gray;
}
#num{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}