html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 130px;
    background-image: url(images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.container{
    margin-top: -100px;;
    padding: 10px;
    border-radius: 12px;
    min-width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
   
    background: transparent;
}
.container h1{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 10, 214);
}
#input-block{
    width: 270px;
     border: 2px solid blue;
    box-shadow: 2px 2px 8px blue,-2px -2px 8px blue;
    color:white;
    border-radius: 6px;
    padding: 5px;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    background: transparent;
}
#input-block:hover{
    transform: translate(-2px , -2px);
}
#search-button{
    padding: 5px;
    margin-left: 5px;
    border-radius: 20px;
    font-size: 0.8em;
    font-family: cursive;
    border: 2px solid blue;
    color: white;
    background: blue;
    cursor: pointer;
    
}
#search-button:hover{
    transform: scale(1.1);
}
#search-button:active{
    transform:translate(-2px ,2px) ;
}
.card{
    position: relative;
    top: 60%;
    padding: 10px;
    border-radius: 12px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    box-shadow: 3px 3px 5px black,-3px -3px 5px black;
    background-image: url(images/sun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card h3{
    font-family: cursive;
    font-size: 1.5em;
    
}
.card p{
    font-family: cursive;
    font-size: 1.2em;
}