body{
    text-align: center;
}
.container{
    border: none;
    padding: 40px 50px;
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 20px;
    box-shadow: 3px 4px 12px;
}
#button{
    border-radius: 10px;
    padding: 12px;
    color: darkmagenta;
    background-color:rgba(15, 186, 129, 0.733) ;
    border:none;
    box-shadow: 3px 4px 12px ;
    cursor: pointer;
}
#button:hover{
     background-color:rgb(15, 186, 129) ;
}
#button:active{
    transform: scale(1.2);
     background-color:rgb(15, 186, 129) ;
     filter: brightness(1.2) contrast(1.4);
}
.label{
    margin: 20px;
    padding: 30px;
    text-align: right;
    transform: translateX(-40px);
    font-family: cursive;
    color: rgb(0, 234, 156);
    cursor:pointer;
}
#phrase{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100px;

}
.type{
    cursor: pointer;
}
#len{

    display: inline-block;
    border-radius: 12px;
    padding: 7px;
    width: 23px;
    text-align: right;
    height: auto;
    font-family: fantasy;
}
#phrase{
    text-shadow: 4px 5px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    filter: brightness(2.2) contrast(2.2);
}