:root{
    --primarycolor: aqua;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    background-image:url(images/backgound.jpg);
    background-size:cover;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    display:flex;
    flex-direction:column;
    gap:20px;

    padding:30px 32px;
    box-shadow:2px 3px 5px black,-2px -3px 5px black;
    border-radius: 12px;
}
#heading1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: rgba(244, 4, 144, 0.622);
}
.user-field{
    display: flex;
    justify-content: space-between;
}
#user-text{
    box-sizing: border-box;
    width: 75%;
    padding: 4px 20px;
    text-align: left;
    color: rgb(199, 48, 199);
    caret-color: rgb(199, 48, 199);
    border-radius: 6px;
    border: none;
    outline: none;
    font-family: cursive;
    font-weight: 300;
    font-size: 1.1rem;
}
#user-text:hover{
   background-color: rgba(255, 255, 255, 0.76);
}
#user-submit{
    border: none;
    border-radius: 12px;
    padding: 6px;
    box-shadow: 2px 3px 8px black;
    font-size: 0.8rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.729);
}
#user-submit:hover{
    background-color: rgba(208, 5, 5, 0.807);
    transform: translate(-1px,-1px);
}
#user-submit:active{
    transform: translate(0px,0px);
    transform: scale(1.01);
}
.stats-field{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
}
.stats{
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
      background:
        conic-gradient(
            #00ff88 0% 25%, 
            rgba(156, 94, 94, 0.323)0% 100%
        );

}