.pagination{
    text-align: center;
}
.pagination a{
    display: inline-block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination a:hover:not(.he){
    background-color: #000000;
    color: white;
}
.pagination a.he{
    background-color: #000000;
    color: white;
    border: 1px solid #000000;
    border-radius: 10px;
}