body{
    text-align: center;
}
.container{
    font-family: cursive;
    font-weight: bold;
    border: 2px solid black;
    padding: 25px 16px ;
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 100px;
    box-shadow: 2px 3px 12px;
}
#roll{
    border: none;
    padding: 6px 7px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 12px red;
    background-color: rgb(224, 68, 68);
    color: white;
    cursor: pointer;
}
#roll:hover{
    background-color: rgb(202, 42, 42);
}
#roll:active{
    background-color: rgb(152, 27, 27);
    padding: 12px 13px;
    filter: brightness(3.2) blur(0.5px);
}
#diceNumber{
    border-radius: 12px;
    padding: 5px 6px;
    font-size: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#diceValue{
    margin: 10px;
    font-weight: bolder;
    font-family: cursive;
    font-size: larger;
}
#dice img {
    width: 80px;
    height: auto;
    margin: 5px;
}