.container{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    border: 10px solid black;
    height: 90vh;
    flex-wrap: wrap;
}
.item{
    width:100px;
    height:100px;
    text-align: center;
    font-size: 5em;
    border-radius: 20px;

}
#item1{
    background-color: red;
    order: 1;
}
#item2{
    background-color: blue;
}
#item3{
    background-color: green;
    order:-1;
}
#item4{
    background-color: yellow;
}
#item5{
    background-color: orange;
}