.container{
    flex: 1;
    height: 100%;
    width: 75%;
    margin-right:40px;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.container::-webkit-scrollbar{
    display: none;
}