.box{
    text-align: center;
    display: block;
    margin-top: 90px;
    border: 20px solid ;
    padding: 50px 30px;
    font-family: cursive;
}
#h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    text-align: center;
}
.button{
    border-radius: 14px;
    border: none;
    padding: 10px;
    box-shadow: 3px 2px black;
    background-color: rgb(174, 174, 174);
    color: rgb(48, 42, 42);
    font-family: fantasy;
}
.button:hover{
    background-color: rgb(129, 128, 128);
}
.button:active{
    background-color: rgb(114, 113, 113);
    padding: 12px;
}
#number{
    border-radius: 4px;
    padding: 4px 6px;
    font-family: serif;
    box-shadow: 2px 3px grey , -2px -3px grey ;
    margin: 10px;
}
