body{
    font-family: Arial, sans-serif;
    margin: 0px;
}
header{
    background-color:rgb(132, 210, 210);
    color: rgb(66, 0, 0);
    padding: 20px;
}
header h1{
    text-align: center;

}
.navigation {
    background-color:rgb(57, 59, 59);
    padding: 0px;

}
.navigation a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
    

}
.navigation a:hover{
    background-color: rgb(96, 99, 99);
}
.navigation li{
    list-style: none;
    display: inline-block;
}
footer{
    background-color:darkslategray;
    display: flex;
    padding:10px;
    justify-content: center;
}