body{
    margin: 0px;
}
main{
    margin: 20px;
    padding: 6px;
}
h1{
    text-align: center;
}
.navigation ul{
    background-color:rgb(57, 59, 59);
    padding: 0px;
    margin: 0px;

}
.navigation a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
}
.navigation a:hover{
    background-color: rgb(96, 99, 99);
}
.navigation li{
    list-style: none;
    display: inline-block;
}