body{
    text-align: center;

}
.check{
    cursor: pointer;
}
.container{
    border: 3px solid black;
    display: inline-block;
    padding: 40px;
    margin: 12px;
    font-size: 23px;
    box-shadow: 3px 4px 8px;
    font-family: cursive;
}
#button{
    border-radius: 12px;
    padding: 6px 7px;
    margin:15px;
    border:none;
    background-color: rgb(0, 116, 248);
    color: white;
    box-shadow: 3px 4px 10px rgb(60, 60, 248);
    cursor: pointer;
}
#button:hover{
     background-color: rgb(0, 90, 193);
}
#button:active{
     background-color: rgb(0, 90, 193);
     transform: scale(1.2);
     
}
#num{
    border-radius: 6px;
    text-align: center;
    font-size: 13px;
    width: 100px;
    height: 20px;
    font-family: fantasy;
    margin: 10px;
    box-shadow: 2px 3px 12px;
    border: none;
    cursor: text;
}
p{
    margin: 20px;
}