body{
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}
h1{
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
hr{
    border: 2px solid white;
}
#container {
    background-color: white;
}
#container ~ p{
    background-color: lightblue;
    margin-right: 40%;
}
#container + p{
    background-color: lightgreen;
    margin-right: 50%;
}
#container > p{
    background-color: lightcoral;
    margin-right: 60%;
}