body{
    margin: 0px;
}
.box{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    font-size: 5em;
    text-align: center;
    transform: translateX(200px) translateY(100px)  scale(1);
}
#box1{
    background-color: rgb(255, 0, 17);
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-iteration-count: 5;
}
#box2{
    background-color: rgb(255, 255, 0);
    transform: translateX(200px) translateY(100px)  scale(1);
     animation-name: slideRight;
    animation-duration: 2s;
}
    
#box3{
    background-color: rgb(0, 255, 0);
    animation-name: slideUp;
    animation-duration: 3s;
   
}
@keyframes slideLeft{
    0%{
        transform: translateX(200px) translateY(100px)  scale(1);
    }
    50%{
        transform: translateX(0px) translateY(100px) rotate(90deg) scale(1);
        opacity: 0;
    }
    100%{
        background-color: blueviolet;
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(200px) translateY(100px)  scale(1);
    }
    50%{
        transform: translateX(400px) translateY(100px) rotateY(180deg) scale(1);
    }
   
}
@keyframes slideUp{
    0%{
         transform: translateX(200px) translateY(100px)  scale(1);
    }
    50%{
        transform: translateX(200px) translateY(-200px) rotateX(180deg) scale(3);
    }
   
}
@keyframes slideDown{
    0%{
        transform: translateY(-300px) 
    }
    50%{
         transform: translateY(0px) 
    }
   
}